# Ignore build artifacts for Docker context
Dockerfile
.dockerignore
.git
.gitignore
*.md
.env
.env.*
!.env.example
.next
out
node_modules
firebase-debug.log*
.firebase
npm-debug.log*
.DS_Store
coverage
.turbo
